workflow_Dev/Modules/Presale.Process.QualityDocumentManagement/Web References/DocumentAPI/API.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docLibraryName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moniUserLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ownerLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folderUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDocumentResult" type="tns:ItemPageOfDocumentEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemPageOfDocumentEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:ItemPage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfDocumentEntity" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ItemPage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Totle" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocumentEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentEntity" nillable="true" type="tns:DocumentEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerLoginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateUserLoginName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateUserLoginName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:RepResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RepResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSSOUserTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketModel" type="tns:ReqUserTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReqUserTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAccount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiredDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSSOUserTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSSOUserTicketResult" type="tns:RepResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAccountByTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAccountByTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserAccountByTicketResult" type="tns:RepResultOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RepResultOfString">
        <s:complexContent mixed="false">
          <s:extension base="tns:RepResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDocument" />
  </wsdl:message>
  <wsdl:message name="QueryDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="AddSSOUserTicketSoapIn">
    <wsdl:part name="parameters" element="tns:AddSSOUserTicket" />
  </wsdl:message>
  <wsdl:message name="AddSSOUserTicketSoapOut">
    <wsdl:part name="parameters" element="tns:AddSSOUserTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserAccountByTicketSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserAccountByTicket" />
  </wsdl:message>
  <wsdl:message name="GetUserAccountByTicketSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserAccountByTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="APISoap">
    <wsdl:operation name="QueryDocument">
      <wsdl:input message="tns:QueryDocumentSoapIn" />
      <wsdl:output message="tns:QueryDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSSOUserTicket">
      <wsdl:input message="tns:AddSSOUserTicketSoapIn" />
      <wsdl:output message="tns:AddSSOUserTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAccountByTicket">
      <wsdl:input message="tns:GetUserAccountByTicketSoapIn" />
      <wsdl:output message="tns:GetUserAccountByTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APISoap" type="tns:APISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDocument">
      <soap:operation soapAction="http://tempuri.org/QueryDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSSOUserTicket">
      <soap:operation soapAction="http://tempuri.org/AddSSOUserTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAccountByTicket">
      <soap:operation soapAction="http://tempuri.org/GetUserAccountByTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APISoap12" type="tns:APISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDocument">
      <soap12:operation soapAction="http://tempuri.org/QueryDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSSOUserTicket">
      <soap12:operation soapAction="http://tempuri.org/AddSSOUserTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAccountByTicket">
      <soap12:operation soapAction="http://tempuri.org/GetUserAccountByTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API">
    <wsdl:port name="APISoap" binding="tns:APISoap">
      <soap:address location="http://moss.ptcent.com:8000/API.asmx" />
    </wsdl:port>
    <wsdl:port name="APISoap12" binding="tns:APISoap12">
      <soap12:address location="http://moss.ptcent.com:8000/API.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>