workflow_Dev/Modules/Ultimus.UWF.Workflow/Web References/EIKServiceRef/EIKService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInitTaskList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitTaskListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInitTaskListResult" type="tns:ArrayOfTaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTaskEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaskEntity" nillable="true" type="tns:TaskEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaskEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TASKID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROCESSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INCIDENT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUMMARY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HELPURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STEPLABEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SYNC" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="STEPID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PROCESSSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SUBSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STARTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ENDTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OVERDUETIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TASKUSER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSIGNEDTOUSER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INITIATOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APLICANT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPARTMENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SERVERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SERVERTASKID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORMESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VarList" type="tns:ArrayOfVarEntity" />
          <s:element minOccurs="0" maxOccurs="1" name="REASON" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMMENTS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVarEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VarEntity" nillable="true" type="tns:VarEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VarEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nillable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComplexType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDraftTaskList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraftTaskListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDraftTaskListResult" type="tns:ArrayOfTaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyTaskList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skipResults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxResults" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParameterEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ParameterEntity" nillable="true" type="tns:ParameterEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ParameterEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMyTaskListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyTaskListResult" type="tns:ArrayOfTaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyTaskCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyTaskCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMyTaskCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyApprovalList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skipResults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxResults" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyApprovalListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyApprovalListResult" type="tns:ArrayOfTaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyApprovalCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyApprovalCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMyApprovalCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyRequestList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skipResults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxResults" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyRequestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyRequestListResult" type="tns:ArrayOfTaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyRequestCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyRequestCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMyRequestCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skipResults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxResults" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskListResult" type="tns:ArrayOfTaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskListCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfParameterEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskListCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaskListCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskEntityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskEntityResult" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskEntityByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="incident" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskEntityByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskEntityByNameResult" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnTaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectTaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="AbortIncident">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortIncidentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentApprover">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="incident" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentApproverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentApproverResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewTaskId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="incident" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewTaskIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewTaskIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGraphicalStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="incident" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGraphicalStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGraphicalStatusResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStepType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stepID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStepTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStepTypeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignTaskResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignAllCurrentTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignAllCurrentTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignAllCurrentTasksResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignAllFutureTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toUser" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignAllFutureTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignAllFutureTasksResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVariableListResult" type="tns:ArrayOfVarEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignProcessFutureTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stepName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toUser" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignProcessFutureTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignProcessFutureTasksResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitTaskEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitTaskEntityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInitTaskEntityResult" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTaskResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitTaskEntityByProcessName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitTaskEntityByProcessNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInitTaskEntityByProcessNameResult" type="tns:TaskEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerEntity">
        <s:complexType />
      </s:element>
      <s:element name="GetServerEntityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerEntityResult" type="tns:ServerEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServerEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SERVERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WEBSERVICEURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTASSEMBLY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOMAINNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DBNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetServerEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:ServerEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServerEntityResponse">
        <s:complexType />
      </s:element>
      <s:element name="LogoutUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutUserResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInitTaskListSoapIn">
    <wsdl:part name="parameters" element="tns:GetInitTaskList" />
  </wsdl:message>
  <wsdl:message name="GetInitTaskListSoapOut">
    <wsdl:part name="parameters" element="tns:GetInitTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDraftTaskListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDraftTaskList" />
  </wsdl:message>
  <wsdl:message name="GetDraftTaskListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDraftTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyTaskListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyTaskList" />
  </wsdl:message>
  <wsdl:message name="GetMyTaskListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyTaskCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyTaskCount" />
  </wsdl:message>
  <wsdl:message name="GetMyTaskCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyTaskCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyApprovalListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyApprovalList" />
  </wsdl:message>
  <wsdl:message name="GetMyApprovalListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyApprovalListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyApprovalCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyApprovalCount" />
  </wsdl:message>
  <wsdl:message name="GetMyApprovalCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyApprovalCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyRequestListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyRequestList" />
  </wsdl:message>
  <wsdl:message name="GetMyRequestListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyRequestListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyRequestCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyRequestCount" />
  </wsdl:message>
  <wsdl:message name="GetMyRequestCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyRequestCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskList" />
  </wsdl:message>
  <wsdl:message name="GetTaskListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskListCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskListCount" />
  </wsdl:message>
  <wsdl:message name="GetTaskListCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskListCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskEntitySoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskEntity" />
  </wsdl:message>
  <wsdl:message name="GetTaskEntitySoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskEntityResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskEntityByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskEntityByName" />
  </wsdl:message>
  <wsdl:message name="GetTaskEntityByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskEntityByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskUrl" />
  </wsdl:message>
  <wsdl:message name="GetTaskUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskUrlResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitTaskSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitTask" />
  </wsdl:message>
  <wsdl:message name="SubmitTaskSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnTask" />
  </wsdl:message>
  <wsdl:message name="ReturnTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnTaskResponse" />
  </wsdl:message>
  <wsdl:message name="RejectTaskSoapIn">
    <wsdl:part name="parameters" element="tns:RejectTask" />
  </wsdl:message>
  <wsdl:message name="RejectTaskSoapOut">
    <wsdl:part name="parameters" element="tns:RejectTaskResponse" />
  </wsdl:message>
  <wsdl:message name="AbortIncidentSoapIn">
    <wsdl:part name="parameters" element="tns:AbortIncident" />
  </wsdl:message>
  <wsdl:message name="AbortIncidentSoapOut">
    <wsdl:part name="parameters" element="tns:AbortIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentApproverSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentApprover" />
  </wsdl:message>
  <wsdl:message name="GetCurrentApproverSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentApproverResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewTaskIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewTaskId" />
  </wsdl:message>
  <wsdl:message name="GetViewTaskIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetGraphicalStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetGraphicalStatus" />
  </wsdl:message>
  <wsdl:message name="GetGraphicalStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetGraphicalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetStepTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetStepType" />
  </wsdl:message>
  <wsdl:message name="GetStepTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetStepTypeResponse" />
  </wsdl:message>
  <wsdl:message name="AssignTaskSoapIn">
    <wsdl:part name="parameters" element="tns:AssignTask" />
  </wsdl:message>
  <wsdl:message name="AssignTaskSoapOut">
    <wsdl:part name="parameters" element="tns:AssignTaskResponse" />
  </wsdl:message>
  <wsdl:message name="AssignAllCurrentTasksSoapIn">
    <wsdl:part name="parameters" element="tns:AssignAllCurrentTasks" />
  </wsdl:message>
  <wsdl:message name="AssignAllCurrentTasksSoapOut">
    <wsdl:part name="parameters" element="tns:AssignAllCurrentTasksResponse" />
  </wsdl:message>
  <wsdl:message name="AssignAllFutureTasksSoapIn">
    <wsdl:part name="parameters" element="tns:AssignAllFutureTasks" />
  </wsdl:message>
  <wsdl:message name="AssignAllFutureTasksSoapOut">
    <wsdl:part name="parameters" element="tns:AssignAllFutureTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariableListSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariableList" />
  </wsdl:message>
  <wsdl:message name="GetVariableListSoapOut">
    <wsdl:part name="parameters" element="tns:GetVariableListResponse" />
  </wsdl:message>
  <wsdl:message name="AssignProcessFutureTasksSoapIn">
    <wsdl:part name="parameters" element="tns:AssignProcessFutureTasks" />
  </wsdl:message>
  <wsdl:message name="AssignProcessFutureTasksSoapOut">
    <wsdl:part name="parameters" element="tns:AssignProcessFutureTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetInitTaskEntitySoapIn">
    <wsdl:part name="parameters" element="tns:GetInitTaskEntity" />
  </wsdl:message>
  <wsdl:message name="GetInitTaskEntitySoapOut">
    <wsdl:part name="parameters" element="tns:GetInitTaskEntityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="GetInitTaskEntityByProcessNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetInitTaskEntityByProcessName" />
  </wsdl:message>
  <wsdl:message name="GetInitTaskEntityByProcessNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetInitTaskEntityByProcessNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerEntitySoapIn">
    <wsdl:part name="parameters" element="tns:GetServerEntity" />
  </wsdl:message>
  <wsdl:message name="GetServerEntitySoapOut">
    <wsdl:part name="parameters" element="tns:GetServerEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SetServerEntitySoapIn">
    <wsdl:part name="parameters" element="tns:SetServerEntity" />
  </wsdl:message>
  <wsdl:message name="SetServerEntitySoapOut">
    <wsdl:part name="parameters" element="tns:SetServerEntityResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutUserSoapIn">
    <wsdl:part name="parameters" element="tns:LogoutUser" />
  </wsdl:message>
  <wsdl:message name="LogoutUserSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutUserResponse" />
  </wsdl:message>
  <wsdl:portType name="EIKServiceSoap">
    <wsdl:operation name="GetInitTaskList">
      <wsdl:input message="tns:GetInitTaskListSoapIn" />
      <wsdl:output message="tns:GetInitTaskListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDraftTaskList">
      <wsdl:input message="tns:GetDraftTaskListSoapIn" />
      <wsdl:output message="tns:GetDraftTaskListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyTaskList">
      <wsdl:input message="tns:GetMyTaskListSoapIn" />
      <wsdl:output message="tns:GetMyTaskListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyTaskCount">
      <wsdl:input message="tns:GetMyTaskCountSoapIn" />
      <wsdl:output message="tns:GetMyTaskCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovalList">
      <wsdl:input message="tns:GetMyApprovalListSoapIn" />
      <wsdl:output message="tns:GetMyApprovalListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovalCount">
      <wsdl:input message="tns:GetMyApprovalCountSoapIn" />
      <wsdl:output message="tns:GetMyApprovalCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyRequestList">
      <wsdl:input message="tns:GetMyRequestListSoapIn" />
      <wsdl:output message="tns:GetMyRequestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyRequestCount">
      <wsdl:input message="tns:GetMyRequestCountSoapIn" />
      <wsdl:output message="tns:GetMyRequestCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskList">
      <wsdl:input message="tns:GetTaskListSoapIn" />
      <wsdl:output message="tns:GetTaskListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskListCount">
      <wsdl:input message="tns:GetTaskListCountSoapIn" />
      <wsdl:output message="tns:GetTaskListCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskEntity">
      <wsdl:input message="tns:GetTaskEntitySoapIn" />
      <wsdl:output message="tns:GetTaskEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskEntityByName">
      <wsdl:input message="tns:GetTaskEntityByNameSoapIn" />
      <wsdl:output message="tns:GetTaskEntityByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskUrl">
      <wsdl:input message="tns:GetTaskUrlSoapIn" />
      <wsdl:output message="tns:GetTaskUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTask">
      <wsdl:input message="tns:SubmitTaskSoapIn" />
      <wsdl:output message="tns:SubmitTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnTask">
      <wsdl:input message="tns:ReturnTaskSoapIn" />
      <wsdl:output message="tns:ReturnTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectTask">
      <wsdl:input message="tns:RejectTaskSoapIn" />
      <wsdl:output message="tns:RejectTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AbortIncident">
      <wsdl:input message="tns:AbortIncidentSoapIn" />
      <wsdl:output message="tns:AbortIncidentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentApprover">
      <wsdl:input message="tns:GetCurrentApproverSoapIn" />
      <wsdl:output message="tns:GetCurrentApproverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewTaskId">
      <wsdl:input message="tns:GetViewTaskIdSoapIn" />
      <wsdl:output message="tns:GetViewTaskIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGraphicalStatus">
      <wsdl:input message="tns:GetGraphicalStatusSoapIn" />
      <wsdl:output message="tns:GetGraphicalStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStepType">
      <wsdl:input message="tns:GetStepTypeSoapIn" />
      <wsdl:output message="tns:GetStepTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignTask">
      <wsdl:input message="tns:AssignTaskSoapIn" />
      <wsdl:output message="tns:AssignTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignAllCurrentTasks">
      <wsdl:input message="tns:AssignAllCurrentTasksSoapIn" />
      <wsdl:output message="tns:AssignAllCurrentTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignAllFutureTasks">
      <wsdl:input message="tns:AssignAllFutureTasksSoapIn" />
      <wsdl:output message="tns:AssignAllFutureTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableList">
      <wsdl:input message="tns:GetVariableListSoapIn" />
      <wsdl:output message="tns:GetVariableListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignProcessFutureTasks">
      <wsdl:input message="tns:AssignProcessFutureTasksSoapIn" />
      <wsdl:output message="tns:AssignProcessFutureTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInitTaskEntity">
      <wsdl:input message="tns:GetInitTaskEntitySoapIn" />
      <wsdl:output message="tns:GetInitTaskEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input message="tns:DeleteTaskSoapIn" />
      <wsdl:output message="tns:DeleteTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInitTaskEntityByProcessName">
      <wsdl:input message="tns:GetInitTaskEntityByProcessNameSoapIn" />
      <wsdl:output message="tns:GetInitTaskEntityByProcessNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerEntity">
      <wsdl:input message="tns:GetServerEntitySoapIn" />
      <wsdl:output message="tns:GetServerEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServerEntity">
      <wsdl:input message="tns:SetServerEntitySoapIn" />
      <wsdl:output message="tns:SetServerEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <wsdl:input message="tns:LogoutUserSoapIn" />
      <wsdl:output message="tns:LogoutUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EIKServiceSoap" type="tns:EIKServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInitTaskList">
      <soap:operation soapAction="http://tempuri.org/GetInitTaskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftTaskList">
      <soap:operation soapAction="http://tempuri.org/GetDraftTaskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyTaskList">
      <soap:operation soapAction="http://tempuri.org/GetMyTaskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyTaskCount">
      <soap:operation soapAction="http://tempuri.org/GetMyTaskCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovalList">
      <soap:operation soapAction="http://tempuri.org/GetMyApprovalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovalCount">
      <soap:operation soapAction="http://tempuri.org/GetMyApprovalCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyRequestList">
      <soap:operation soapAction="http://tempuri.org/GetMyRequestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyRequestCount">
      <soap:operation soapAction="http://tempuri.org/GetMyRequestCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskList">
      <soap:operation soapAction="http://tempuri.org/GetTaskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskListCount">
      <soap:operation soapAction="http://tempuri.org/GetTaskListCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskEntity">
      <soap:operation soapAction="http://tempuri.org/GetTaskEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskEntityByName">
      <soap:operation soapAction="http://tempuri.org/GetTaskEntityByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskUrl">
      <soap:operation soapAction="http://tempuri.org/GetTaskUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTask">
      <soap:operation soapAction="http://tempuri.org/SubmitTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTask">
      <soap:operation soapAction="http://tempuri.org/ReturnTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectTask">
      <soap:operation soapAction="http://tempuri.org/RejectTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortIncident">
      <soap:operation soapAction="http://tempuri.org/AbortIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentApprover">
      <soap:operation soapAction="http://tempuri.org/GetCurrentApprover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewTaskId">
      <soap:operation soapAction="http://tempuri.org/GetViewTaskId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraphicalStatus">
      <soap:operation soapAction="http://tempuri.org/GetGraphicalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStepType">
      <soap:operation soapAction="http://tempuri.org/GetStepType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTask">
      <soap:operation soapAction="http://tempuri.org/AssignTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAllCurrentTasks">
      <soap:operation soapAction="http://tempuri.org/AssignAllCurrentTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAllFutureTasks">
      <soap:operation soapAction="http://tempuri.org/AssignAllFutureTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableList">
      <soap:operation soapAction="http://tempuri.org/GetVariableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignProcessFutureTasks">
      <soap:operation soapAction="http://tempuri.org/AssignProcessFutureTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitTaskEntity">
      <soap:operation soapAction="http://tempuri.org/GetInitTaskEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitTaskEntityByProcessName">
      <soap:operation soapAction="http://tempuri.org/GetInitTaskEntityByProcessName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerEntity">
      <soap:operation soapAction="http://tempuri.org/GetServerEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServerEntity">
      <soap:operation soapAction="http://tempuri.org/SetServerEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <soap:operation soapAction="http://tempuri.org/LogoutUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EIKServiceSoap12" type="tns:EIKServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInitTaskList">
      <soap12:operation soapAction="http://tempuri.org/GetInitTaskList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftTaskList">
      <soap12:operation soapAction="http://tempuri.org/GetDraftTaskList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyTaskList">
      <soap12:operation soapAction="http://tempuri.org/GetMyTaskList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyTaskCount">
      <soap12:operation soapAction="http://tempuri.org/GetMyTaskCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovalList">
      <soap12:operation soapAction="http://tempuri.org/GetMyApprovalList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovalCount">
      <soap12:operation soapAction="http://tempuri.org/GetMyApprovalCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyRequestList">
      <soap12:operation soapAction="http://tempuri.org/GetMyRequestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyRequestCount">
      <soap12:operation soapAction="http://tempuri.org/GetMyRequestCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskList">
      <soap12:operation soapAction="http://tempuri.org/GetTaskList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskListCount">
      <soap12:operation soapAction="http://tempuri.org/GetTaskListCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskEntity">
      <soap12:operation soapAction="http://tempuri.org/GetTaskEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskEntityByName">
      <soap12:operation soapAction="http://tempuri.org/GetTaskEntityByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskUrl">
      <soap12:operation soapAction="http://tempuri.org/GetTaskUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTask">
      <soap12:operation soapAction="http://tempuri.org/SubmitTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTask">
      <soap12:operation soapAction="http://tempuri.org/ReturnTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectTask">
      <soap12:operation soapAction="http://tempuri.org/RejectTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortIncident">
      <soap12:operation soapAction="http://tempuri.org/AbortIncident" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentApprover">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentApprover" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewTaskId">
      <soap12:operation soapAction="http://tempuri.org/GetViewTaskId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraphicalStatus">
      <soap12:operation soapAction="http://tempuri.org/GetGraphicalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStepType">
      <soap12:operation soapAction="http://tempuri.org/GetStepType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTask">
      <soap12:operation soapAction="http://tempuri.org/AssignTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAllCurrentTasks">
      <soap12:operation soapAction="http://tempuri.org/AssignAllCurrentTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAllFutureTasks">
      <soap12:operation soapAction="http://tempuri.org/AssignAllFutureTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableList">
      <soap12:operation soapAction="http://tempuri.org/GetVariableList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignProcessFutureTasks">
      <soap12:operation soapAction="http://tempuri.org/AssignProcessFutureTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitTaskEntity">
      <soap12:operation soapAction="http://tempuri.org/GetInitTaskEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://tempuri.org/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitTaskEntityByProcessName">
      <soap12:operation soapAction="http://tempuri.org/GetInitTaskEntityByProcessName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerEntity">
      <soap12:operation soapAction="http://tempuri.org/GetServerEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServerEntity">
      <soap12:operation soapAction="http://tempuri.org/SetServerEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <soap12:operation soapAction="http://tempuri.org/LogoutUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EIKService">
    <wsdl:port name="EIKServiceSoap" binding="tns:EIKServiceSoap">
      <soap:address location="http://localhost:5175/Service/EIKService.asmx" />
    </wsdl:port>
    <wsdl:port name="EIKServiceSoap12" binding="tns:EIKServiceSoap12">
      <soap12:address location="http://localhost:5175/Service/EIKService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>